# Discord Bot Token (https://discord.com/developers/applications)
DISCORD_BOT_TOKEN=your_discord_bot_token_here

# Ollama URL (Default: http://localhost:11434)
OLLAMA_URL=http://localhost:11434

# Database Path (Relative to root)
DB_PATH=../../jjajang/data/naver/research.db3
